In [1]:
import os
import pandas as pd

In [2]:
df=pd.read_csv('Anneling1.csv',sep=",")# IMPORTING THE DATA
df.head()# CHECKING THE FIRST TOP DATA)

,family,product-type,steel,carbon,hardness,temper_rolling,condition,formability,strength,non-ageing,...,s,p,shape,thick,width,len,oil,bore,packing,class
0,TN,C,A,8,0,T,S,2,0,N,...,0,0,COIL,0.700,610.0,0,Y,0,3,3
1,TN,C,R,0,0,T,S,2,0,N,...,0,0,COIL,3.200,610.0,0,Y,0,3,3
2,TN,C,R,0,0,T,S,2,0,N,...,0,0,SHEET,0.700,1300.0,762,Y,0,3,3
3,TN,C,A,0,60,T,S,2,0,N,...,0,0,COIL,2.801,385.1,0,Y,0,3,3
4,TN,C,A,0,60,T,S,2,0,N,...,0,0,SHEET,0.801,255.0,269,Y,0,3,3

In [3]:
df.shape # says number of columns and rows

(898, 39)

In [4]:
df.info() # gives information about each and every rows and type of column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 898 entries, 0 to 897
Data columns (total 39 columns):
family                          898 non-null object
product-type                    898 non-null object
steel                           898 non-null object
carbon                          898 non-null int64
hardness                        898 non-null int64
temper_rolling                  898 non-null object
condition                       898 non-null object
formability                     898 non-null int64
strength                        898 non-null int64
non-ageing                      898 non-null object
surface-finish                  898 non-null object
surface-quality                 898 non-null object
enamelability                   898 non-null int64
bc                              898 non-null object
bf                              898 non-null object
bt                              898 non-null object
bw%2Fme                         898 non-null object
bl                              898 non-null object
m                               898 non-null int64
chrom                           898 non-null object
phos                            898 non-null object
cbond                           898 non-null object
marvi                           898 non-null int64
exptl                           898 non-null object
ferro                           898 non-null object
corr                            898 non-null int64
blue%2Fbright%2Fvarn%2Fclean    898 non-null object
lustre                          898 non-null object
jurofm                          898 non-null int64
s                               898 non-null int64
p                               898 non-null int64
shape                           898 non-null object
thick                           898 non-null float64
width                           898 non-null float64
len                             898 non-null int64
oil                             898 non-null object
bore                            898 non-null int64
packing                         898 non-null int64
class                           898 non-null int64
dtypes: float64(2), int64(15), object(22)
memory usage: 273.7+ KB

In [5]:
df.isnull().sum()  ### Checking any null values are there in the columns

family                          0
product-type                    0
steel                           0
carbon                          0
hardness                        0
temper_rolling                  0
condition                       0
formability                     0
strength                        0
non-ageing                      0
surface-finish                  0
surface-quality                 0
enamelability                   0
bc                              0
bf                              0
bt                              0
bw%2Fme                         0
bl                              0
m                               0
chrom                           0
phos                            0
cbond                           0
marvi                           0
exptl                           0
ferro                           0
corr                            0
blue%2Fbright%2Fvarn%2Fclean    0
lustre                          0
jurofm                          0
s                               0
p                               0
shape                           0
thick                           0
width                           0
len                             0
oil                             0
bore                            0
packing                         0
class                           0
dtype: int64

In [6]:
df.var()  ## checking the variance of the columns

carbon           1.881518e+02
hardness         6.125886e+02
formability      4.281048e-01
strength         1.321494e+04
enamelability    2.523346e-01
m                0.000000e+00
marvi            0.000000e+00
corr             0.000000e+00
jurofm           0.000000e+00
s                0.000000e+00
p                0.000000e+00
thick            7.590039e-01
width            1.643051e+05
len              3.502135e+06
bore             1.551528e+04
packing          1.112607e+00
class            4.850876e-01
dtype: float64

In [7]:
df['family'].value_counts() ## checking the how many types are there in the Family

TN    539
ZS    354
0       5
Name: family, dtype: int64

In [8]:
df['product-type'].value_counts()

C    898
Name: product-type, dtype: int64

In [9]:
df['steel'].value_counts()

A    492
R    284
K     55
M     22
W     19
V     16
S     10
Name: steel, dtype: int64

In [10]:
df['carbon'].value_counts()

0     821
55     19
45     17
65     15
6      11
70      5
4       4
8       3
10      2
3       1
Name: carbon, dtype: int64

In [11]:
df['hardness'].value_counts()

0     721
45     58
85     35
50     34
60     26
70     19
80      5
Name: hardness, dtype: int64

In [12]:
df['temper_rolling'].value_counts()

T    898
Name: temper_rolling, dtype: int64

In [13]:
df['condition'].value_counts()

S    831
A     65
0      2
Name: condition, dtype: int64

In [14]:
df['formability'].value_counts()

2    579
3    235
1     69
5     13
0      2
Name: formability, dtype: int64

In [15]:
df['strength'].value_counts()

0      834
310     19
500     18
600     11
350      9
400      4
300      2
700      1
Name: strength, dtype: int64

In [16]:
df['non-ageing'].value_counts()

N    893
0      5
Name: non-ageing, dtype: int64

In [17]:
df['surface-finish'].value_counts()

P    805
0     93
Name: surface-finish, dtype: int64

In [18]:
df['surface-quality'].value_counts()

E    421
G    310
F     92
D     75
Name: surface-quality, dtype: int64

In [19]:
df['enamelability'].value_counts()

1    489
2    407
0      2
Name: enamelability, dtype: int64

In [20]:
df['bc'].value_counts()

Y    724
0    174
Name: bc, dtype: int64

In [21]:
df['bf'].value_counts()

Y    887
0     11
Name: bf, dtype: int64

In [22]:
df['bt'].value_counts()

Y    898
Name: bt, dtype: int64

In [23]:
df['bw%2Fme'].value_counts()

B    711
M    187
Name: bw%2Fme, dtype: int64

In [24]:
df['bl'].value_counts()

Y    892
0      6
Name: bl, dtype: int64

In [25]:
df['m'].value_counts()

0    898
Name: m, dtype: int64

In [26]:
df['chrom'].value_counts()

C    893
0      5
Name: chrom, dtype: int64

In [27]:
df['phos'].value_counts()

P    750
0    148
Name: phos, dtype: int64

In [28]:
df['cbond'].value_counts()

Y    882
0     16
Name: cbond, dtype: int64

In [29]:
df['marvi'].value_counts()

0    898
Name: marvi, dtype: int64

In [30]:
df['ferro'].value_counts()

Y    891
0      7
Name: ferro, dtype: int64

In [31]:
df['corr'].value_counts()

0    898
Name: corr, dtype: int64

In [32]:
df['exptl'].value_counts()

0    533
Y    365
Name: exptl, dtype: int64

In [33]:
df['lustre'].value_counts()

Y    882
0     16
Name: lustre, dtype: int64

In [34]:
df['blue%2Fbright%2Fvarn%2Fclean'].value_counts()

B    638
V    120
0     93
C     47
Name: blue%2Fbright%2Fvarn%2Fclean, dtype: int64

In [35]:
df['jurofm'].value_counts()

0    898
Name: jurofm, dtype: int64

In [36]:
df['s'].value_counts()

0    898
Name: s, dtype: int64

In [37]:
df['p'].value_counts()

0    898
Name: p, dtype: int64

In [38]:
df['shape'].value_counts()

SHEET    486
COIL     412
Name: shape, dtype: int64

In [39]:
df['thick'].value_counts()

0.700    90
1.600    90
0.699    87
0.600    83
0.800    71
3.200    59
0.300    44
1.200    39
0.400    37
1.599    34
1.000    31
0.601    21
2.000    18
0.500    16
4.000    14
2.500    14
1.601    12
0.301    12
0.799    11
1.201     9
0.900     9
3.201     9
2.300     7
0.801     7
1.500     7
1.001     6
0.999     6
2.801     5
2.200     5
1.090     5
0.599     5
0.451     4
0.321     3
3.500     3
1.100     3
1.399     2
0.750     2
0.901     2
2.501     2
1.299     2
1.400     2
1.300     2
3.000     1
0.501     1
2.800     1
1.900     1
0.651     1
0.240     1
3.300     1
0.250     1
Name: thick, dtype: int64

In [40]:
df['width'].value_counts()

610.0     278
1320.0    155
609.9      93
1220.0     49
1300.0     30
900.0      27
20.0       25
50.0       21
150.0      14
1250.0     14
640.0      13
335.0      12
520.0      11
1500.0      9
75.0        8
1525.0      7
375.0       7
1000.0      7
609.0       7
300.1       7
1274.9      5
385.1       5
1275.0      5
374.9       5
250.0       4
500.0       4
595.0       4
1090.0      4
1050.0      4
830.0       3
         ...
255.1       2
1200.0      2
0.0         2
519.9       2
599.9       2
600.1       2
1130.0      2
966.1       2
255.0       2
356.1       2
966.0       2
200.1       1
1135.0      1
515.0       1
65.1        1
1200.1      1
1100.0      1
606.9       1
900.1       1
915.1       1
355.0       1
710.1       1
58.0        1
519.0       1
1310.0      1
29.0        1
190.0       1
915.0       1
28.0        1
450.0       1
Name: width, Length: 68, dtype: int64

In [41]:
df['len'].value_counts()

0       417
762     172
4880    157
612      35
4170     34
761      23
3000      9
301       7
1         6
150       6
1220      5
611       5
881       4
300       3
270       2
269       2
1000      2
759       2
760       2
400       1
614       1
4120      1
880       1
610       1
Name: len, dtype: int64

In [42]:
df['oil'].value_counts()

Y    570
N    301
0     27
Name: oil, dtype: int64

In [43]:
df['bore'].value_counts()

0      854
600     33
500     11
Name: bore, dtype: int64

In [44]:
df['packing'].value_counts()

3    686
0    129
2     83
Name: packing, dtype: int64

In [45]:
df['class'].value_counts()

3    684
2     99
5     67
4     40
1      8
Name: class, dtype: int64

### Changing the columns to 0 and 1 by using else function

In [46]:
df['shape']=[1 if x=='COIL' else 0 for x in df['shape']]
df['shape'].value_counts()

0    486
1    412
Name: shape, dtype: int64

In [47]:
df['lustre']=[1 if x=='Y' else 0 for x in df['lustre']]
df['lustre'].value_counts()

1    882
0     16
Name: lustre, dtype: int64

In [48]:
df['exptl']=[1 if x=='Y' else 0 for x in df['exptl']]
df['exptl'].value_counts()

0    533
1    365
Name: exptl, dtype: int64

In [49]:
df['ferro']=[1 if x=='Y' else 0 for x in df['ferro']]
df['ferro'].value_counts()

1    891
0      7
Name: ferro, dtype: int64

In [50]:
df['cbond']=[1 if x=='Y' else 0 for x in df['cbond']]
df['cbond'].value_counts()

1    882
0     16
Name: cbond, dtype: int64

In [51]:
df['phos']=[1 if x=='P' else 0 for x in df['phos']]
df['phos'].value_counts()

1    750
0    148
Name: phos, dtype: int64

In [52]:
df['chrom']=[1 if x=='C' else 0 for x in df['chrom']]
df['chrom'].value_counts()

1    893
0      5
Name: chrom, dtype: int64

In [53]:
df['bw%2Fme']=[1 if x=='B' else 0 for x in df['bw%2Fme']]
df['bw%2Fme'].value_counts()

1    711
0    187
Name: bw%2Fme, dtype: int64

In [54]:
df['bl']=[1 if x=='Y' else 0 for x in df['bl']]
df['bl'].value_counts()

1    892
0      6
Name: bl, dtype: int64

In [55]:
df['bc']=[1 if x=='Y' else 0 for x in df['bc']]
df['bc'].value_counts()

1    724
0    174
Name: bc, dtype: int64

In [56]:
df['bf']=[1 if x=='Y' else 0 for x in df['bf']]
df['bf'].value_counts()

1    887
0     11
Name: bf, dtype: int64

In [57]:
df['surface-finish']=[1 if x=='P' else 0 for x in df['surface-finish']]
df['surface-finish'].value_counts()

1    805
0     93
Name: surface-finish, dtype: int64

In [58]:
df['non-ageing']=[1 if x=='N' else 0 for x in df['non-ageing']]
df['non-ageing'].value_counts()

1    893
0      5
Name: non-ageing, dtype: int64

In [59]:
df.info()  ## checking the information about each and every columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 898 entries, 0 to 897
Data columns (total 39 columns):
family                          898 non-null object
product-type                    898 non-null object
steel                           898 non-null object
carbon                          898 non-null int64
hardness                        898 non-null int64
temper_rolling                  898 non-null object
condition                       898 non-null object
formability                     898 non-null int64
strength                        898 non-null int64
non-ageing                      898 non-null int64
surface-finish                  898 non-null int64
surface-quality                 898 non-null object
enamelability                   898 non-null int64
bc                              898 non-null int64
bf                              898 non-null int64
bt                              898 non-null object
bw%2Fme                         898 non-null int64
bl                              898 non-null int64
m                               898 non-null int64
chrom                           898 non-null int64
phos                            898 non-null int64
cbond                           898 non-null int64
marvi                           898 non-null int64
exptl                           898 non-null int64
ferro                           898 non-null int64
corr                            898 non-null int64
blue%2Fbright%2Fvarn%2Fclean    898 non-null object
lustre                          898 non-null int64
jurofm                          898 non-null int64
s                               898 non-null int64
p                               898 non-null int64
shape                           898 non-null int64
thick                           898 non-null float64
width                           898 non-null float64
len                             898 non-null int64
oil                             898 non-null object
bore                            898 non-null int64
packing                         898 non-null int64
class                           898 non-null int64
dtypes: float64(2), int64(28), object(9)
memory usage: 273.7+ KB

In [60]:
df1=df[['carbon', 'hardness', 'formability', 'strength', 'non-ageing', 'surface-finish', 'enamelability' ,'bc' ,'bf' ,'bl',
       'bw%2Fme', 'bl', 'm', 'chrom', 'phos', 'cbond', 'marvi', 'exptl', 'ferro', 'corr', 'lustre', 'jurofm', 's', 'p', 'shape',
        'thick', 'width', 'len', 'bore', 'packing']]

In [61]:
import sklearn
from sklearn import preprocessing

In [62]:
df1.columns

Index(['carbon', 'hardness', 'formability', 'strength', 'non-ageing',
       'surface-finish', 'enamelability', 'bc', 'bf', 'bl', 'bw%2Fme', 'bl',
       'm', 'chrom', 'phos', 'cbond', 'marvi', 'exptl', 'ferro', 'corr',
       'lustre', 'jurofm', 's', 'p', 'shape', 'thick', 'width', 'len', 'bore',
       'packing'],
      dtype='object')

In [63]:
x=df1.values

In [64]:
x

array([[  8.,   0.,   2., ...,   0.,   0.,   3.],
       [  0.,   0.,   2., ...,   0.,   0.,   3.],
       [  0.,   0.,   2., ..., 762.,   0.,   3.],
       ...,
       [  0.,   0.,   2., ..., 762.,   0.,   0.],
       [  0.,  85.,   0., ...,   0.,   0.,   0.],
       [  0.,  85.,   0., ...,   0., 500.,   0.]])

In [65]:
min_max_scaler = preprocessing.MinMaxScaler() ## Convertig 0 to 1

In [66]:
x_scaled = min_max_scaler.fit_transform(x)

In [67]:
df1_normalized = pd.DataFrame(x_scaled)
df1_normalized.head() #normalized dataframe

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,0.114286,0.000000,0.4,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.122340,0.400000,0.000000,0.0,1.0
1,0.000000,0.000000,0.4,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.787234,0.400000,0.000000,0.0,1.0
2,0.000000,0.000000,0.4,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.122340,0.852459,0.156148,0.0,1.0
3,0.000000,0.705882,0.4,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.681117,0.252525,0.000000,0.0,1.0
4,0.000000,0.705882,0.4,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.149202,0.167213,0.055123,0.0,1.0

In [68]:
df1.shape

(898, 30)

In [69]:
df1_normalized.shape

(898, 30)

### Lable Encoding

In [70]:
X =df.select_dtypes(include=[object])
X.head()

,family,product-type,steel,temper_rolling,condition,surface-quality,bt,blue%2Fbright%2Fvarn%2Fclean,oil
0,TN,C,A,T,S,G,Y,V,Y
1,TN,C,R,T,S,E,Y,V,Y
2,TN,C,R,T,S,E,Y,V,Y
3,TN,C,A,T,S,G,Y,V,Y
4,TN,C,A,T,S,G,Y,V,Y

In [71]:
X.columns

Index(['family', 'product-type', 'steel', 'temper_rolling', 'condition',
       'surface-quality', 'bt', 'blue%2Fbright%2Fvarn%2Fclean', 'oil'],
      dtype='object')

In [72]:
X.shape

(898, 9)

In [73]:
le = preprocessing.LabelEncoder()
X_2 = X.apply(le.fit_transform)
X_2.head()

,family,product-type,steel,temper_rolling,condition,surface-quality,bt,blue%2Fbright%2Fvarn%2Fclean,oil
0,1,0,0,0,2,3,0,3,2
1,1,0,3,0,2,1,0,3,2
2,1,0,3,0,2,1,0,3,2
3,1,0,0,0,2,3,0,3,2
4,1,0,0,0,2,3,0,3,2

### One Hot Encoding

In [74]:
from sklearn.preprocessing import OneHotEncoder

In [75]:
enc= preprocessing.OneHotEncoder()

In [76]:
enc.fit(X_2)
OHE = enc.transform(X_2).toarray()

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [77]:
OHE.shape

(898, 27)

In [78]:
data=pd.DataFrame(OHE)

In [79]:
data.columns

RangeIndex(start=0, stop=27, step=1)

In [80]:
data[['carbon', 'hardness', 'formability', 'strength', 'non-ageing',
       'surface-finish', 'enamelability', 'bc', 'bf', 'bl', 'bw%2Fme', 'bl',
       'm', 'chrom', 'phos', 'cbond', 'marvi', 'exptl', 'ferro', 'corr',
       'lustre', 'jurofm', 's', 'p', 'shape', 'thick', 'width', 'len', 'bore',
       'packing']]=df1_normalized

In [81]:
X=data
y=df['class']

### Performing classification

#### Classification using logistic regression

In [82]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.8,random_state=1)

In [83]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
model = LogisticRegression()
model.fit(X_train,y_train)  # fitting logistic regression

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [84]:
y_prediction = model.predict(X_test)

In [85]:
accuracy=accuracy_score(y_test,y_prediction)

In [86]:
print(accuracy)

0.7830319888734353

In [87]:
from sklearn.metrics import confusion_matrix

In [88]:
cm=confusion_matrix(y_test, y_prediction)

In [89]:
cm

array([[  0,   0,   6,   0,   0],
       [  0,  16,  61,   0,   1],
       [  0,   6, 535,   0,   2],
       [  0,   0,  35,   1,   0],
       [  0,   1,  44,   0,  11]])

### Neural Networks

In [90]:
#from sklearn.linear_model import LogisticRegression 
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score

In [91]:
#model = LogisticRegression()
model = MLPClassifier(hidden_layer_sizes=(150,99), max_iter=1000)

model.fit(X_train, y_train)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(150, 99), learning_rate='constant',
       learning_rate_init=0.001, max_iter=1000, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=None, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

In [92]:
y_prediction = model.predict(X_test)

In [93]:
accuracy=accuracy_score(y_test,y_prediction)

In [94]:
print(accuracy)

0.7844228094575799

In [95]:
data.shape

(898, 56)

In [96]:
#model = LogisticRegression()
model = MLPClassifier(hidden_layer_sizes=(290,99), max_iter=1000)

model.fit(X_train, y_train)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(290, 99), learning_rate='constant',
       learning_rate_init=0.001, max_iter=1000, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=None, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

In [97]:
y_prediction = model.predict(X_test)

In [98]:
accuracy=accuracy_score(y_test,y_prediction)

In [99]:
print(accuracy)

0.7774687065368567

### SVM

In [100]:
#from sklearn.linear_model import LogisticRegression 
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score 

#model = LogisticRegression()
model = SVC()

model.fit(X, y)

/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [101]:
predicted_classes = model.predict(X)

In [102]:
accuracy = accuracy_score(y.values.flatten(),predicted_classes)
print(accuracy)

0.7616926503340757

### Random Forest

In [103]:
#from sklearn.linear_model import LogisticRegression 
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score 

#model = LogisticRegression()
model = RandomForestClassifier(n_estimators=100)

model.fit(X, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [104]:
predicted_classes = model.predict(X)

In [105]:
accuracy = accuracy_score(y.values.flatten(),predicted_classes)
print(accuracy)

1.0

In [106]:
accuracy*100

100.0